{
  "plugins": [
    "transform-es2015-destructuring",
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "presets": [
    ["env", {"targets": { "browsers": "last 2 Chrome versions"}}],
    "react"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
